<div class="outer-div">
  <div class="main-div">
    <h1>ToDo List</h1>
  </div>

  <div
    style="width: 100%; display: flex; justify-content: center; margin-top: 5%"
  >
    <app-input-section></app-input-section>
  </div>
  <div
    style="
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 5%;
    "
  >
    <ul class="list-group"></ul>
    <li
      class="list-group-item"
      *ngFor="let todditem of todo; let i = index"
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        background: transparent;
        border: none;
        flex-direction: column;
        align-items: center;
      "
    >
      <app-to-dolist
        style="width: 60%"
        [Todoitem]="todditem"
        [index]="i"
      ></app-to-dolist>
    </li>
  </div>
</div>
